* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#wrapper {
    background-color: #fff;
}
.wrap-content {
    height: 100vh;
}

.content {
    margin-top: 130px;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: column;
}

.header .header-side {
    display: flex;
    height: 60px;
}
.header .header-side:last-child {
    flex-direction: column;
}

.nav-top {
    justify-content: space-evenly;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.nav-title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #5f5f5f;
    margin-bottom: 1rem;
}

.navigasi {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.navigasi::-webkit-scrollbar {
    display: none;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 380px;
}
li a.item-list {
    color: #afafaf;
    /* font-weight: 600; */
    text-decoration: none;
    font-size: .9rem;
}
li a.item-list:focus {
    font-weight: 600;
    color: #535353;
}
li a.item-list:focus::after {
    content: "";
    display: block;
    border-bottom: 2px solid #5f5f5f;   
    width: 60%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 50%;
    max-width: 50%;
}

.card-item {
    height: 160px;
    margin: 1rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
}
span {
    display: block;
}

.nm-product {
    margin: 0 1rem 0 1rem;
    color: #999;
    font-size: .9rem
}

.price {
    margin: .20rem 1rem 0 1rem;
    color: #535353;
    font-size: .9rem;
    font-weight: 600;
}

.card-detail {
    position: fixed;
    bottom: 0;
    height: 60%;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}